@import "tailwindcss";

@theme {
  --color-primary: #ff6a1a;
  --color-background: #f5f7fb;
  --color-primary-soft: #ff7a53;
  --color-primary-hover: #f65f10;
  --color-text-strong: #2f2f2f;
  --color-border: #d9d9d9;
  --color-gray-soft: #eaeaea;
  --color-success: #2fcdb0;
  --color-warning: #F59E0B;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-info: #3B82F6;
}
